/* Content */
.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.card {
  height: 23rem;
}
.card-img-top {
  width: 16rem;
}

.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h5 {
  font-size: 14px;
}

/* Product.php*/
.resize {
  width: 400px;
}

/*cart_view.php*/
